.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: 'ChristmasFont';
    src: url('./../../assets/fonts/PWHappyChristmas.ttf');
}

.title {
    margin-bottom: 0;
    font-family: ChristmasFont, serif;
    font-size: 3em;
    text-align: center;
}

@font-face {
    font-family: 'JewishFont';
    src: url('./../../assets/fonts/Tanach.ttf')
}

.subtitle {
    font-family: JewishFont, serif;
    margin-top: 0;
    font-size: 2em;
}

.santa-image {
    width: 8em;
}

.code-input {
    display: flex;
    flex-direction: column;
}

.santa-result {
    font-size: 2em;
}

.santa-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.santa-results-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
}
